.title { 
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.title a {
  margin-right: 1em; text-decoration: none; color:#11514C
}

.title a.extra {
  font-size: 15px;
  color:#811C21
}

ul {
  list-style-type: square;
  margin-left: 1em;
}

ol {
  margin-left: 1em;
}

ul.posts {
  list-style-type: none;
  font-family: monospace;
}

ul.posts a {
  font-family: sans-serif;
}

img {
  max-width: 700px;
  padding: 1em;
  border: 1px solid #dddddd;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #dddddd;
  font-family: 'Roboto Slab', serif;
}

pre {
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  background-color: #073642;
  color: #93a1a1;
  font-family: monospace;
  font-style: normal;
  max-height: 500px;
  overflow: auto;
}

div.highlight {
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
}
code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }
 
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; 
}
code.has-jax {
  border: none;
  background-color: inherit;
}
 
code.has-jax span.math span {
  font: inherit;
  color: black;
  font-size: 100%;
  background: inherit;
  border: inherit;
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
