.title { 
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.title a {
  margin-right: 1em; text-decoration: none; color:#11514C
}

.title a.extra {
  font-size: 15px;
  color:#811C21
}

ul {
  list-style-type: square;
  margin-left: 1em;
}

ol {
  margin-left: 1em;
}

ul.posts {
  list-style-type: none;
  font-family: monospace;
}

ul.posts a {
  font-family: sans-serif;
}

img {
  max-width: 700px;
  padding: 1em;
  border: 1px solid #dddddd;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #dddddd;
  font-family: 'Roboto Slab', serif;
}

pre {
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  background-color: #073642;
  color: #93a1a1;
  font-family: monospace;
  font-style: normal;
  max-height: 500px;
  overflow: auto;
}

div.highlight {
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
}

code.has-jax {
  font: inherit;
  color: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
}
