<!DOCTYPE HTML>

<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- Metadata -->>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Will Price" />
    <link href="http://feeds.feedburner.com/willpriceblog" type="application/atom+xml" title="Will Price" rel="alternative"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet">
  </head>
  <body>
      <div class="site">
          <div class="title">
              <a href="/">Will Price</a>
              <a class="extra" href="/">Home</a>
              <a class="extra" href="/projects">Projects</a>
          </div>
      </div>
    <section>
      {{ content }}
    </section>
  </body>
</html>
