<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!--[if lt IE 9]>
pre    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:locale" content="en_GB">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@{{ site.twitter }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

    <title>{{ page.title | default: site.name }}</title>
    <meta name="author" content="Will Price">
    {%- if page.description -%}
    <meta name="description" content="{{ page.description | strip_newlines }}">
    <meta property="og:description" content="{{ page.description | strip_newlines }}"/>
    {%- endif -%}

    <link href="http://feeds.feedburner.com/willpriceblog" type="application/atom+xml" title="Will Price" rel="alternative"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/user.css">

    <script defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
      integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41410283-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-41410283-1');
    </script>


    {% for item in page.tags %}
      {% if item == 'processing' %}
    <script src="/scripts/processing.js"></script>
      {% endif %}
    {% endfor %}
    {%- if page.mathjax -%}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script src="/scripts/mathjax-config.js"></script>
    {%- endif -%}
  </head>
  <body>
    <!-- container for 960px grid, skeleton.css -->
    <div class="container">
      <header>
        <nav>
          <a class="title" href="/">
            <span class="big-char">W</span>ill
            <span class="big-char">P</span>rice
          </a>
          <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/presentations">Presentations</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
          <hr />
        </nav>
      </header>

      {{ content }}

      <footer>
        <nav>
          <ul>
            <li><a href="http://github.com/{{ site.github }}">
                <i class="fab fa-github"></i>
            </a></li>
            <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}/">
                <i class="fab fa-linkedin"></i>
            </a></li>
            <li><a href="https://twitter.com/{{ site.twitter }}">
                <i class="fab fa-twitter"></i>
            </a></li>
            <li><a href="http://www.bristol.ac.uk/engineering/people/will-price/index.html">
                <i class="fas fa-university"></i>
            </a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
